{% extends 'Frontend/Default/base.html.twig' %}
{% block body %}
    <div class="row alert alert-danger">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
            <h1><span class="fa fa-hand-paper fa-4x"></span></h1>
        </div>
        <div class="col-10">
            <h1 class="text-center">
                Un momento... <br>
                <small>Por alguna razón, esta área esta restringida para usted.</small>                
            </h1>
            <p>Si usted piensa que debería tener permiso para estar en esta área, comuniquese con nosotros.</p>
            <p>Por favor no haga mal uso de su cuenta o podría ser suspendido.</p>
        </div>
    </div>    
{% endblock %}